.text-center {
	text-align: center;
}

.container {
	max-width: 800px;
	margin: auto;
}

.container2 {
	max-width: 50px;
	margin: auto;
}

.form {
	max-width: 800px;
	margin: auto;
}

.form-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px 0;
}

.btn {
	margin: 0 2px;
	cursor: pointer;
}

.video {
	max-width: 100%;
}
