<html>

<head>
  <title>Pi Thermal Video</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='ui.css')}}">
</head>

<body>

  <div class='container'>
    <h1 class='text-center'>Pi Thermal Video</h1>
    <img id="videoFeed" src="{{ url_for('video_feed') }}" class='video'>
  </div>

  <div class='container'>
    <form class="form-inline">
      <div style="display: flex;">
        <a href=# id=units><button class='btn'>Change Temp Units</button></a>
        <a href=# id=filter><button class='btn'>Toggle Filter</button></a>
      </div>
      <div style="display: flex;">
        <a href=# id=colormapback><button class='btn'>Previous Colormap</button></a>
        <a href=# id=colormap><button class='btn'>Next Colormap</button></a>
      </div>
      <div style="display: flex;">
        <a href=# id=interpolationback><button class='btn'>Previous Interpolation</button></a>
        <a href=# id=interpolation><button class='btn'>Next Interpolation</button></a>
      </div>
    </form>
  </div>

  <hr>

  <div class='container2'>
    <form class="form-inline">
      <div style="display: flex;">
        <a href=# id=save><button class='btn'>Screenshot</button></a>
        <a href=# id=exit><button class='btn'>Exit</button></a>
      </div>
    </form>
  </div>

</body>

</html>
